In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("News.csv")
df.head()

,Unnamed: 0,title,text,subject,date,class
0,0.0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,31-Dec-17,0.0
1,1.0,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,31-Dec-17,0.0
2,2.0,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,30-Dec-17,0.0
3,3.0,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,29-Dec-17,0.0
4,4.0,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,25-Dec-17,0.0

In [6]:
df.shape

(39000, 6)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39000 entries, 0 to 38999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  38958 non-null  float64
 1   title       38958 non-null  object
 2   text        38958 non-null  object
 3   subject     38958 non-null  object
 4   date        38937 non-null  object
 5   class       38937 non-null  float64
dtypes: float64(2), object(4)
memory usage: 1.8+ MB

In [9]:
df.isnull().sum()

Unnamed: 0    42
title         42
text          42
subject       42
date          63
class         63
dtype: int64

In [10]:
df = df.drop(["title", "subject","date"], axis = 1)

In [11]:
df.isnull().sum()

Unnamed: 0    42
text          42
class         63
dtype: int64