In [5]:
# Import Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [8]:
# Load Dataset
df = pd.read_csv("Train.csv")
df

          id                                            content  category
0        SW0   SERIKALI imesema haitakuwa tayari kuona amani...   Kitaifa
1        SW1   Mkuu wa Mkoa wa Tabora, Aggrey Mwanri amesiti...  Biashara
2       SW10   SERIKALI imetoa miezi sita kwa taasisi zote z...   Kitaifa
3      SW100   KAMPUNI ya mchezo wa kubahatisha ya M-bet ime...   michezo
4     SW1000   WATANZANIA wamekumbushwa kusherehekea sikukuu...   Kitaifa
...      ...                                                ...       ...
5146   SW993   RAIS John Magufuli ameendelea kung’ara katika...   Kitaifa
5147   SW994   KAMPENI inayohimiza watafi ti kuandika upya h...   Kitaifa
5148   SW996   MATUKIO mapya ya malaria kwa kila watu 1,000 ...   Kitaifa
5149   SW997   IMEELEZWA kuwa hakuna sheria yoyote inayokata...   Kitaifa
5150   SW999   Akizungumza mara baada ya kutiwa saini kwa ma...  Biashara

[5151 rows x 3 columns]

In [7]:
# Load Dataset
var_def = pd.read_csv("VariableDefinitions.csv")
var_def.head()

  Variable Definitions                                  Unnamed: 1
0                   id             Unique identifier for each news
1              content          Full details about particular news
2             Category  The specific category of a particular news

In [9]:
df.shape

(5151, 3)

In [10]:
# Check Null Values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5151 entries, 0 to 5150
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5151 non-null   object
 1   content   5151 non-null   object
 2   category  5151 non-null   object
dtypes: object(3)
memory usage: 120.9+ KB

In [12]:
# Check Duplicate Rows
df.duplicated().sum()

np.int64(0)

In [14]:
df.describe(include="all").T

         count unique                                                top  freq
id        5151   5151                                              SW999     1
content   5151   5151   Akizungumza mara baada ya kutiwa saini kwa ma...     1
category  5151      5                                            Kitaifa  2000